@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
}

.main {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    background-image: url(Assets/images/main\ image.jpg);
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.68;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: "Martel Sans", sans-serif;
    padding: 30px;
    gap: 23px;

}

.hero> :nth-child(1) {
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
}

.btn {
    padding: 3px 8px;
    font-weight: 600;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 3px 24px;
    font-size: 20px;
    font-weight: 400;
}

.btn-red-sn {
    background-color: red;
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.main input {
    color: white;
    background-color: rgba(23, 23, 23, 0.7);
    border-radius: 4px;
    padding: 7px 100px 8px 14px;
    font-size: 13px;
    /* font-weight: 900; */
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}



.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 24px;

}


.faq h2 {
    max-width: 60vw;
    margin: 34px auto;
    /* text-align: left; */
    font-size: 25px;
    /* padding: 0px 166px; */
}

.faq {

    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
    padding: 34px;

}

.faqbox:hover {
    background-color: #414141;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    /* transition: all 1s ease-out; */
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 20px;
    width: 100%;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
    font-size: 24px;
}

footer {
    color: white;
    max-width: 90vw;
    margin: auto;
    padding: 14px;
}

.footer {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer .ques {
    padding: 34px 0px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: center;
}

.footer a {
    font-size: 14px;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1300px) {

    nav {
        /* padding: 0vh 0vh 4vh; */
        max-width: 100vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero {
        padding: 30px 30px 84px;
        gap: 4px;
    }

    .hero> :nth-child(1) {

        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding: 0px 0px 20vh;
    }

    .faq h2 {
        text-align: center;
        font-size: 22px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item {
        align-items: center;
    }


}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}